@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('banner.css');
@import url('main.css');
@import url('desktop.css');
@import url('footer.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #e5e5e5;
}

ul {
  list-style: none;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.primary-button {
  padding: 1rem 1.4rem;
  border: 1px solid #6070ff;
  color: #396df2;
  background: transparent;
  border-radius: 0.5rem;
  margin-top: 0.3rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  transition: background-color 0.5s;
}

.primary-button:hover {
  background-color: #6070ff;
  color: #fff;
}

.primary-button:active {
  background: #2230d2;
}

.popbox {
  display: flex;
  position: fixed;
  z-index: 7;
  top: 80px;
  padding: 1rem;
  margin: 0 1rem;
  flex-direction: column;
  gap: 1.5rem;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: #fff;
  transition: transform 0.2s;
  overflow-y: scroll;
  height: 80%;
}

.icon-flex {
  display: flex;
  gap: 0.3rem;
}

.icon-flex img {
  width: 20px;
  height: 20px;
}

.links {
  display: flex;
  gap: 0.6rem;
  justify-content: space-around;
  font-size: initial;
  line-height: 24px;
  padding-top: 1rem;
  border-top: 1px solid #ebecf0;
}

.links a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #6070ff;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #396df2;
}

.links a svg {
  color: #396df2;
}

.blur {
  filter: blur(7px);
  -webkit-filter: blur(7px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.submit-btn {
  padding: 1rem 1.4rem;
  border: 1px solid #6070ff;
  color: #396df2;
  background: white;
  border-radius: 0.5rem;
  margin-top: 0.3rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  transition: background-color 0.5s;
}

.submit-btn:hover {
  background-color: #6070ff;
  color: #fff;
  outline: 1px solid #fff;
}

.submit-btn:active {
  background: #2230d2;
  outline: none;
}

.error {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 0.8rem;
}

.warning-icon {
  color: red;
  margin-top: 12px;
  visibility: hidden;
}

.error-message {
  color: white;
  margin-top: 1rem;
  font-size: small;
}

.menu-mobile {
  width: 100%;
  top: 0;
  position: fixed;
  height: 100vh;
  background-color: #6070ff;
  z-index: 8;
  left: 0;
  transform: translateX(-100%);
  transition: 0.5s;
}

.nav-ul {
  display: flex;
  flex-direction: column;  
}

.nav-ul li {
  padding: 2rem;
  border-bottom: 1px solid #fff;
  transition: backgroun-color 5ms;
}

.nav-ul li:hover {
  background-color: rgb(53, 87, 87);
}

.nav-ul li a {
  color: #fff;
  font-size: 1.5rem;
}

.nav-ul li:first-child{
  display: flex;
  justify-content: space-between;
}

/* .close-icon{
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: 10;
} */
