@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #e5e5e5;
}

ul {
  list-style: none;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.primary-button {
  padding: 1rem 1.4rem;
  border: 1px solid #6070ff;
  color: #396df2;
  background: transparent;
  border-radius: 0.5rem;
  margin-top: 0.3rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  transition: background-color 0.5s;
}

.primary-button:hover {
  background-color: #6070ff;
  color: #fff;
}

.primary-button:active {
  background: #2230d2;
}

/* Section presentation ************** */
.section-presentation {
  margin-top: 3rem;
  width: 100%;
  height: 80vh;
  border-radius: 0 0 0 6rem;
  background-color: #fff;
  background-image: url('images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

h1.name {
  margin-top: 6rem;
}

.nav-bar {
  width: 100%;
  height: 80px;
  padding: 1.4rem 3rem 1rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 2;
}

.logo-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 0;
}

.left .time {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  text-align: center;
}

.left .logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.right {
  display: block;
}

.right ul {
  display: none;
  padding-top: 2rem;
  height: 40vh;
}

.right ul li {
  padding-top: 2rem;
}

.right ul li a {
  color: #fff;
}

.right ul li a{
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
}

.close {
  display: none;
  float: right;
  position: relative;
  top: 2rem;
}

.presentation {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1.8rem;
  justify-content: center;
}

.lang-child > li {
  display: flex;
  gap: 0.3rem;
  background-color: #f7f7f9;
  padding: 1rem;
  align-items: center;
}

.social-media li {
  transition: transform 0.7s;
}

.about-me ul li {
  list-style: none;
}

.presentation ul li {
  list-style: none;
}

.social-media li:hover {
  transform: translateY(-0.5rem);
}

.name {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 3rem;
  max-width: 77%;
}

.blue {
  color: #7f8cff;
}

.text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.social-media {
  display: flex;
  width: 60%;
  gap: 1.3rem;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
}

/* Project Section **************************/

.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 5rem;
  margin-top: 5rem;
  padding: 1rem;
}

.projects .project-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: #fff;
  padding: 1rem;
}

.projects .project-card:first-child {
  display: none;
}

.img-project {
  margin-bottom: 3rem;
}

.info-project {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.info-project .title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 3rem;
  max-width: 77%;
  color: #172b4d;
}

.info-project ul {
  display: inline-flex;
  gap: 0.8rem;
}

.info-project .specific li {
  margin-left: 1rem;
  color: #7a869a;
  font-weight: 600;
}

.info-project .language li {
  background: #ebebff;
  padding: 0.3rem 0.7rem;
  border-radius: 0.7rem;
  color: #6070ff;
  list-style: none;
}

.info-project .specific li:first-child {
  list-style: none;
  color: #344563;
  margin-left: 0;
}

.info-project .language li:first-child {
  margin-left: 0;
}

/* About-me Section *********************************/

.about-me {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1.8rem;
  background-color: #fff;
  border-radius: 0 6rem 0 0;
  margin-top: 5rem;
  padding-bottom: 5rem;
  color: #344563;
}

.about-me h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 3rem;
  max-width: 77%;
  color: #091e42;
}

.personal-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 6rem;
}

.code-lang {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.code-lang .ul-lang {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.lang {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.lang-child {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.lang-child > li h4 {
  font-weight: 500;
  font-size: 0.65rem;
  line-height: 20px;
  margin-left: 0.5rem;
}

/**  Footer and contact-form ***************************/
.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.8rem;
  border-radius: 5rem 0 0 0;
  background-color: #6070ff;
  background-image: url('images/contact.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.contact h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 3rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  color: #fff;
}

footer {
  background-color: #fff;
}

.contact p {
  color: white;
}

.form .input {
  width: 100%;
  height: 35px;
  margin: 0.6rem auto;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.form input[type='text'] {
  padding: 0.4rem;
}

.form input[type='email'] {
  padding: 0.4rem;
}

form textarea {
  width: 100%;
  margin: 0.4rem auto;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 0.4rem;
}

.form input:focus,
.form textarea:focus {
  outline: 3px solid #cfd8dc;
  outline-offset: 2px;
}

.form .primary-button {
  display: block;
  background: #fff;
  transition: background 0.5s;
}

.form .primary-button:hover {
  color: #fff;
  border-color: white;
  background: transparent;
}

.form .primary-button:active {
  border: none;
  background: #2230d2;
}

/* Desktop version media query ***************************/
@media (min-width: 768px) {
  .left .logo {
    transition: transform 1s ease;
  }

  .left .logo:hover {
    font-size: 20px;
  }

  .right ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding-top: 0rem;
    height: 0;
  }

  .right ul li a {
    transition: color 0.8s;
    font-weight: 500;
    position: relative;
    color: #344563;
    font-size: 15px;
    line-height: 0px;
  }

  .right ul li a::after {
    content: '';
    background-color: #6070ff;
    width: 100%;
    height: 0.15rem;
    transform: scaleX(0);
    position: absolute;
    left: 0;
    top: 1.5rem;
    transition: transform 0.5s;
  }

  .right ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
  }

  .right ul li a:hover {
    color: #6070ff;
  }

  .right svg {
    display: none;
  }

  .section-presentation {
    margin-top: 3rem;
    width: 100%;
    height: 100vh;
    border-radius: 0 0 0 6rem;
    background-color: #fff;
    background-image: url('images/header2.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .presentation {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 9rem 1.8rem 1.8rem 1.8rem;
    justify-content: center;
    margin: 0 auto;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5rem;
    margin-top: 5rem;
    padding: 5rem;
  }

  .projects .project-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    background-color: #fff;
    padding: 1rem;
  }

  .projects .project-card:hover {
    cursor: pointer;
    border: 2px solid #a7aeff;
  }

  .projects .project-card:first-child {
    display: flex;
  }

  .projects img {
    width: 100%;
    height: auto;
    align-self: center;
    transition: transform 1s;
  }

  .projects img:hover {
    transform: scale(1.03);
  }

  .projects .project-card:first-child img {
    max-width: 47%;
    height: auto;
  }

  .project-card p,
  .project-card li {
    font-weight: 400;
    line-height: 1.75rem;
    color: #344563;
  }

  .info-project {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 1.1rem;
  }

  .info-project .title {
    max-width: 100%;
  }

  .info-project ul {
    display: inline-flex;
    gap: 0.6rem;
    white-space: nowrap;
  }

  .about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 5rem;
    background-color: #fff;
    border-radius: 0 6rem 0 0;
    margin-top: 5rem;
    padding-bottom: 5rem;
  }

  .personal-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-basis: 53%;
    margin-top: 6rem;
  }

  .code-lang {
    display: flex;
    flex-direction: column;
    flex-basis: 47%;
    gap: 1rem;
    padding: 1rem;
  }

  .code-lang .ul-lang {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 5rem;
  }

  .lang-child {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .lang-child > li {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    background-color: #f7f7f9;
    padding: 1rem;
    align-items: center;
  }

  .lang-child .js,
  .lang-child .html,
  .lang-child .css {
    transition: transform 1s;
  }

  .lang-child .js:hover,
  .lang-child .html:hover,
  .lang-child .css:hover {
    transform: scale(1);
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.8rem;
    border-radius: 5rem 0 0 0;
    background-color: #6070ff;
    background-image: url('images/contact1.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }

  .contact-form {
    width: 48%;
    margin: 1rem auto;
  }

  .form .input {
    width: 100%;
    height: 35px;
    margin: 0.6rem auto;
    border: 1px solid #cfd8dc;
    border-radius: 0;
  }

  form textarea {
    resize: none;
    margin: 0.4rem auto;
    border: 1px solid #cfd8dc;
    border-radius: 0;
    padding: 0.4rem;
  }

  form input::placeholder,
  form textarea::placeholder {
    transition: transform 0.35s, color 0.35s;
    padding-left: 0.7rem;
  }

  form input:hover::placeholder,
  form textarea:hover::placeholder {
    transform: translateX(16px);
    color: #6070ff;
  }

  form .primary-button {
    background: #fff;
    margin: 0 auto;
  }
}
